.mainrecord {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    .record {
        background-color: white;
        width: 700px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 5px;
        position: relative;

        h2 {
            color: var(--primary);
        }

        .btns {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            position: absolute;
            top: 10px;
            left: 35em;

            img {
                width: 27%;
                cursor: pointer;

            }

        }

    }
}